---
layout: default

---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul>
   {% for page in site.posts %}
     {% for tag in page.tags %}
       {% if tag contains "homepage" %}
       <h2>Post {{page.post_number}}: {{page.title}}</h2>
       <h3>{{page.caption}}</h3>
       <h4>{{page.location}}</h4>
       <h5>{{page.content}}</h5>
       {% endif %}
     {% endfor %}
   {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
